<header>
  <div class="wrapper">
    <h1 [title]="'TOPBAR.Allan' | translate">allan lobo</h1>
    <nav>
      <ul>
        <li [routerLink]="['/home']" routerLinkActive="current-route">
          {{ "TOPBAR.Home" | translate }}
        </li>
        <li [routerLink]="['/about']" routerLinkActive="current-route">
          {{ "TOPBAR.About" | translate }}
        </li>
        <li [routerLink]="['/contact']" routerLinkActive="current-route">
          {{ "TOPBAR.Contact" | translate }}
        </li>
        <li [routerLink]="['/blog']" routerLinkActive="current-route">blog</li>
      </ul>
    </nav>
  </div>
</header>
