<header>
  <div class="wrapper">
    <img
      src="../../../assets/images/logoAllan.png"
      [title]="'TOPBAR.Allan' | translate"
    />
    <nav>
      <ul>
        <li [routerLink]="['/home']" routerLinkActive="current-route">
          {{ "TOPBAR.Home" | translate }}
        </li>
        <li [routerLink]="['/about']" routerLinkActive="current-route">
          {{ "TOPBAR.About" | translate }}
        </li>
        <li [routerLink]="['/blog']" routerLinkActive="current-route">blog</li>
      </ul>
    </nav>
  </div>
</header>
